*



!README.md
!.gitignore
!.zshrc
!.p10k.zsh


!.themes/
!.themes/*/
!.themes/*/*
!.themes/*/*/*
!.themes/*/*/*/*
!.themes/*/*/*/*/*
!.themes/*/*/*/*/*/*


!.local/
.local/**
!.local/bin/
.local/bin/**

!.local/bin/ppip
!.local/bin/pvenv
!.local/bin/aliases.sh

!.scripts
.scripts/**
!.scripts/backgroup_changer.sh


!.conky/
.conky/**
!.conky/.conkyrc
!.conky/start_conky.sh


!.config/
.config/**
!.config/autostart/*

!config/nautilus/
.config/nautilus/**
!.config/nautilus/scripts-accels
